body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 2em;
  color: #484848;
}

p {
  margin: 0.5em 0;
  padding: 0.5em;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

/* Alternating colors for every other row */
p:nth-child(4n + 1),
p:nth-child(4n + 2) {
  background-color: #f8f8f8;
}

/* Styling for user details (Name & Surname) */
p:nth-child(4n + 1),
p:nth-child(4n + 2) {
  font-weight: bold;
  margin-right: 1em; /* Space between name and surname */
}

/* Styling for date details */
p:nth-child(4n + 3),
p:nth-child(4n + 4) {
  font-size: 0.9em;
  color: #888888; /* Slightly muted color for date details */
}

/* Additional spacing between different user bookings */
p:nth-child(4n) {
  margin-bottom: 1em;
}
